<div class="card text-base-content shadow-md rounded-md bg-base-100">
    <div class="card-body">
        <h3 class="card-title">
            <i class="fas fa-building text-secondary mr-1"></i>
            Sermorens
        </h3>

        <p class="mb-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Amet exercitationem repellendus quibusdam voluptates beatae.
        </p>
        
        <div class="card-actions justify-end">
            <a class="btn btn-secondary btn-outline gap-2">
                <i class="fas fa-eye"></i>
                Voir
            </a>
            <a class="btn btn-primary gap-2">
                <i class="fas fa-pen"></i>
                Modifier
            </a>
        </div>
    </div>
</div>