{% extends 'base.html.twig' %}

{% block title %}Hello Tailwind!{% endblock %}

{% block body %}

    <div class="grid lg:grid-cols-3 gap-3 text-base-100">
        {% for i in 0..15 %}
            {% include "home/_card.html.twig" %}
       {% endfor %}
    </div>
{% endblock %}
