<div class="dropdown dropdown-left">
    <label tabindex="0" class="btn btn-ghost border-0">
        <i class="fas fa-user"></i>
    </label>
    <ul tabindex="0" class="dropdown-content menu bg-base-100 p-2 rounded-box w-52 border-2 border-base-200 text-base-content shadow-xl -translate-x-2">
        <li><a>Benoit Barberot</a></li>
        <div class="divider my-1"></div>
        <li><a>Mon profil</a></li>
        <li><a>Mes Photos</a></li>
        <li><a>Déconnexion</a></li>
    </ul>
</div>