<div class="navbar bg-primary text-primary-content px-3">
    <div class="navbar-start">
        <label for="my-drawer">
            <div class="btn btn-ghost mr-1 border-0">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
            </div>
        </label>

        <a class="btn btn-ghost text-xl normal-case">HapplyDaisy</a>

        <div class=" ml-2 flex">
            <label class="label-text">
                <input type="text" placeholder="Recherche" class="input bg-primary-focus placeholder-primary-content mr-1" />
            </label>
            <button class="bg-primary-focus px-5 btn btn-primary">
                <i class="fas fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
 
    <div class="navbar-end">
        {% include 'base/_dropdown.html.twig' %}
    </div>
</div>