<div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label> 


    <ul class="menu p-4 w-80 bg-base-100 text-base-content">
        <h1 class="text-2xl mb-5">HapplyDaisy</h1>
        <li class="menu-title text-gray-500 text-xs pb-2">Ma Section</li>
        <li class="border-primary rounded-md">
            <a>Sidebar Item 1</a>
        </li>
        <li><a>Sidebar Item 2</a></li>
        <li class="menu-title text-gray-500 text-xs pb-2">Une autre section</li>
        <li><a>Sidebar Item 2</a></li>
        <li><a>Sidebar Item 2</a></li>
        <li><a>Sidebar Item 2</a></li>
    </ul>
</div>