<!DOCTYPE html>
<html data-theme="aih">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="min-h-screen bg-base-200">
        <div class="drawer">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
                {% include "base/_navbar.html.twig" %}
                <main class="md:p-5 p-1 m-3">
                    {% block body %}{% endblock %}
                </main>
            </div>

            {% include "base/_sidebar.html.twig" %}
        </div>
    </body>
</html>
